*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height:530px;
  width: 700px;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 1.875rem;
}

label{
  margin-bottom: 20px;
  font-size: 1.375rem;
}

button{
  width: 60px;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 30px;
}
